.botao-primario{
    display: inline-block;
    background: $botao-primario;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}

.botao-primario:hover{
    background: #228838;
    color: #fff;
}

.botao-segundario{
    display: inline-block;
    background: $botao-segundario;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}

.botao-segundario:hover{
    background: #16638f;
    color: #fff;
}