.menuTopo ul{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menuTopo ul li{
    display: inline-block;
    
}

.menuTopo ul li a{
    background: $laranjaMenu;
    color: #fff;
    padding: 5px 40px;
    border-radius: 5px;
}

.menuTopo ul li a:hover{
    background: #c4a95f;
    text-decoration: none;
}